body {
}
#berichtplaatsen
{
    width: 738px;
    display: inline-block;
    float: left;
}

.tbTitel
{
    display: inline-block;
    float: left;
    }

.Label1, Label2, Label3
{
    margin-top:12px;
    display: inline-block;
    float: left;
    font-family: Consolas;
}
.btBrowse
{
    margin-left: 5px;
    border-radius: 4px;
    font-family: Consolas;
    margin-right: 0px;
}
.button
{
    margin-left: 5px;
    border-radius: 4px;
    font-family: Consolas;
    margin-right: 0px;
}
.btPost
{
    float:right;
    border-radius: 4px;
    font-family: Consolas;
}
.lbCategorie
{
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 12px;
    font-family: Consolas;
}
.cbCategorie
{
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
}
.tbBericht
{
    resize: none;
}
.RadioButtonSoort
{
display: inline-block;
float: left;
margin-left: 50px;
font-family: Consolas;
}
.RadioButtonSoort1
{
    margin-left: 0px;
    display: normal;
    clear: both;
}
.CheckBox
{
    margin-left: 15px;
    display: inline-block;
    float: left;
    font-family: Consolas;
}
.CheckBox1
{
    margin-left: 0px;
}
.Lbsorteer
{
    margin-top: 12px;
    font-family: Consolas;
    width: 180px;
    clear: both;
}
#sorteermenu
{
    display: inline-block;
    float: left;
    width: 222px;
}
#sorteermenu1
{
    clear: both;
    float: left;
}
#sorteermenu2
{
    clear: both;
    float: left;
}
#feed
{
    margin-top: 25px;
    display:inline-block;
    float: left;
}
.CheckBoxsorteer
{

}
.CheckBoxsorteer1
{

}
#likemenu
{
    clear:both;
}